* {
    margin: 0;
    padding: 0;
}

nav {
    border: none;
    padding: 20px;
    align: right;
    background-color: rgb(152, 151, 151);
    color: white;
}

body {
    background-color: rgb(210, 212, 212);
}