* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-image: url("img/race-track-background-iphone-12.jpg");
    background-size: cover;
}

li,
a,
button {
    font-family: "montserrat", sans-serif;
    font-weight: 500;
    color: white;
    text-decoration: none;
}

/* -------- Navbar start --------- */

header {
    display: flex;
    justify-content: space-between;
    padding: 0.6rem 3%;
    /* background: rgba(134, 133, 133, 0.281); */

}

.nav__scoreboards {
    background-color: azure;
    padding: 4rem 1rem;
    margin: 0rem 0.5rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
    
}

.nav__scoreboards--comp {
    border: 5px solid #82e274;
    
}

.nav__scoreboards--player {
    border: 5px solid #7498e2;    
}

.nav__links {
    display: flex;
    gap: 1.5rem;
    list-style: none;
}

.nav__links:hover {
    font-weight: 600;
    cursor: pointer;
}

/* .nav__links li:nth-of-type(1) {
    margin-left: auto;
} */

/* -------- Navbar slut --------- */



/* -------- Spelkontroller start --------- */

.controls {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 1rem 3%;
    gap: 1rem;

}

.button {
    background-color: #7498e2;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
}

.button:hover {
    background-color: #7499e2ce;
    cursor: pointer;
}


/* -------- Spelkontroller slut --------- */
