* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
    background-image: url("img/race-track-background-iphone-12.jpg");
    background-size: cover;
}

li,
a,
p,
button {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
}

a {
    text-decoration: underline;
}

/* -------- Navbar start --------- */

.header {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    padding: 0.6rem 2%;
    background: rgba(134, 133, 133, 0.281);
}

/* -------- Scoreboard area start --------- */

.scoreboardwrapper {
    display: flex;
    flex-direction: column;
}

.scoreboard {
    background-color: azure;
    padding: 1rem 0rem;
    margin: 0.5rem 0rem;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
}

.scoreboard--computer {
    border: 5px solid #82e274;
}

.scoreboard--player {
    border: 5px solid #7498e2;
}

/* -------- Scoreboard area end --------- */

.nav__links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav__links:hover {
    font-weight: 600;
    cursor: pointer;
}

.header--center {
    align-self: center;
    height: 60px;
    width: 60px;
}

/* Puts the logo and the links on each sides */

.header div:nth-of-type(1) {
    margin-left: auto;
}

.header div:nth-of-type(3) {
    margin-left: auto;
}

/* -------- Navbar slut --------- */


/* -------- Spelkontroller start --------- */

.controls {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0.7rem 2%;
    gap: 1rem;
}

.button {
    background-color: #7498e2;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
}

.button:hover {
    background-color: #7499e2ce;
    cursor: pointer;
}

/* -------- Spelkontroller slut --------- */


/* -------- Hundarnas Utseende  --------- */

.computer-avatar img{
    width: 190px;
    margin-top: 90px;
}

.player-avatar img{
    width: 190px;
    margin-top: -30px;
}

@keyframes moveDog{

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes moveDog2 {

    0%,
    100% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(10px);
    }
}

.computer-avatar img {
    animation: moveDog 1s ease-in-out infinite;
}

.player-avatar img{
    animation: moveDog2 1s ease-in-out infinite ;
}
