* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("img/race-track-background-iphone-12.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

li,
a,
p,
button {
    font-family: "montserrat", sans-serif;
    font-weight: 600;
    color: white;
    text-decoration: none;
    text-align: center;
}

a {
    text-decoration: underline;
}

/* -------- Navbar start --------- */

.header {
    display: flex;
    /* justify-content: space-between; */
    gap: 1rem;
    padding: 0.6rem 2%;
    /* background: rgba(235, 231, 231); */
}

.logo {
    height: 20px;
}

/* -------- Scoreboard area start --------- */

.scoreboardwrapper {
    display: flex;
    flex-direction: column;
}

.header--center {
    align-self: center;
    height: 60px;
    width: 60px;
    margin-top: 1rem;
}

/* --- new avatar wrapper --- */
.avatar {
    margin: 0.8rem 0rem;
    border-radius: 50%;
    height: 70px;
}

.av__comp {
    background-color: #74e2be;
}

/* -------- Scoreboard area end --------- */

.nav__links {
    display: flex;
    gap: 1rem;
    list-style: none;
}

.nav__links:hover {
    font-weight: 600;
    cursor: pointer;
}


/* Puts the logo and the links on each sides */

.header div:nth-of-type(1) {
    margin-left: auto;
}

.header div:nth-of-type(3) {
    margin-left: auto;
}

/* -------- Navbar slut --------- */


/* -------- Spelkontroller start --------- */

.controls {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    width: 100%;
    bottom: 0px;
    padding: 0.7rem 2%;
    gap: 1rem;
}

.button {
    background-color: #7498e2;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    border: none;
}

.button:hover {
    background-color: #7499e2ce;
    cursor: pointer;
}

/* -------- Spelkontroller slut --------- */


/* -------- Hundarnas Utseende och position  --------- */

.dogs {
    position: absolute;
    width: 190px;
    /* Adjust the width and height as needed */
}

.dog__computer {
    top: 30%;
    left: 5%;
}

.dog__player {
    top: 45%;
    left: 5%;
}

@keyframes moveDog {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

@keyframes moveDog2 {

    0%,
    100% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(10px);
    }
}

.dog__computer {
    animation: moveDog 1s ease-in-out infinite;
}

.dog__player {
    animation: moveDog2 1s ease-in-out infinite;
}
