* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Navbar */

li,
a,
button {
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

header {
  display: flex;
  padding: 0.6rem 5%;
  background: rgb(134, 133, 133);

}

.nav {
  flex-grow: 1;
}

.nav__links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav__links li {
  /* display: inline-block; */

}

.nav__links li:nth-of-type(1) {
  margin-left: auto;
}

/* Navbar slut */

body {
  background-color: rgb(234, 230, 223);
  margin: 0 auto;
}

.container {
  min-width: 700px;
  max-width: 800px;
  margin: 50px auto;
  display: grid;
  grid-gap: 10px 10px;
  height: 100vh;
  grid-template-areas:
    "title title title "
    "player score computer"
    "footer footer footer";
  grid-template-rows: 1fr 1fr  1fr;
  grid-template-columns: 1fr  1fr 1fr;
  text-align: center;
}

.title {
  padding-top: 30px;
  grid-area: title;
  background-color: rgb(45 107 40);
  border-radius: 5px;
}
h1{
      animation:skew-y-shake 5.5s infinite;
      }
      
                     @keyframes skew-y-shake {
                       0% {
                         transform: skewY(-15deg);
                       }
          
                       5% {
                         transform: skewY(15deg);
                       }
          
                       10% {
                         transform: skewY(-15deg);
                       }
          
                       15% {
                         transform: skewY(15deg);
                       }
          
                       20% {
                         transform: skewY(0deg);
                       }
          
                       100% {
                         transform: skewY(0deg);
                       }
                         0% {

                          margin-right: 0;
                       }
                        
                         50% {
                          margin-left: 100%;
                          }
                        
                          100% {
                          margin-right: 0;
                        }
                        100% {
                         transform: skewY(0deg);
                         }
                      
                       
                     }

 

.image img{
  width: 40px;
  height: 40px;
  margin: 5px 5px 25px 5px;
  padding: 10px;
  background-color: rgb(157, 82, 28);
  border-radius: 50%;
  transition: all 1s ease-in-out;
 
}
.image img:hover{
  transform: scale(1.3, 1.3)
}

.player {
  grid-area: player;
  background-color: rgb(237, 240, 240);
  box-shadow: 5px 5px 5px 5px lightgrey;
  border-radius: 5px;

}
.name{
  padding-bottom: 30px;
}
.avatar img{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#avatar6{
  padding-bottom: 20px;
}
ul.player1 {
     display: flex;
    gap: 15px;
    align-items: center;
    align-content: stretch;
    flex-direction: row-reverse;
    margin-top: 30px;
    flex-wrap: nowrap;
    justify-content: center;
}

.icon {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 50px;
  background-color: rgb(113, 179, 157);
  border-radius: 50%;
  list-style: none;
  
}
.icon:hover{
  background-color: brown;
}
.icon img{
  width: 30px;
  height: 30px;
  padding: 10px ;
}
.avatar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    align-items: center;
}

.computer {
  grid-area: computer;
  background-color: rgb(237, 240, 240);
  box-shadow: 5px 5px 5px 5px lightgrey;
  border-radius: 10px;
 
}
.score {
  grid-area: score;
  padding-top: 50%;
  margin: 150px auto;
  border-radius: 4px;
  text-align: center;
  width: 150px;
  font-size: 30px;
  padding: 15px 20px;
  position: relative;

}
.user-score{
  border:2px solid none ;
  background-color: rgb(237, 240, 240);
  box-shadow: 5px 5px 5px 5px lightgrey;
  border-radius: 10px;
}

/* .footer {
  grid-area: footer;
  background-color: yellow;
  padding-top: 10px;
} */
/* 
.container img{
  position: fixed;
  top: 0;
  left: 0;
  width: 70px;
  padding: 20px 30px;
  border-radius: 50%;
  
} */

.container h1{
color: rgb(157, 82, 28);
text-align: center;
padding: 20px;

}


.badge{
  border: 3px solid white;
  font-size: 18px;
  padding: 2px 10px;
}


/* @media (max-width: 600px) {
  body {
    display: grid;
    grid-gap: 0;
    border: darkblue solid 1px;
    grid-template-areas:
      "title title title"
      "content content content "
      "aside aside aside "
      "footer footer footer";
    grid-template-rows: auto 1fr auto auto;
    grid-template-columns: 1fr;
    text-align: center;
  }
}
 */
