*,
::before,
*::after {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
}

img,
picture,
svg,
video {
    display: block;

}

input,
textarea,
button,
select {
    font: inherit;
    /* Leila */
    margin: 20px;
    padding: 10px;
    border-radius: 20px;
    /* Leila */
}

body {
    font-family: Arial, Helvetica, sans-serif;
   
}


label,
h1,
h2,
h3,
p {
    text-align: center;
    /* leila */
    margin-top: 1rem;

}

/* Grid wrapper */

.wrapper {
    margin: 0 auto;
    max-width: 600px;
}


.header {
    grid-area: header;
}

.main {
    grid-area: main;
    background-color: #eeeeee;
    padding: 1rem;
    grid: column;

}

/* Grid wrapper ends */

/* Hero beginns */

.hero-image {
    background-image: url("img/fatty-corgi-Zn5chZcnFRA-unsplash.jpg");
    height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 1rem;
}

.hero-text {
    position: absolute;
    top: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(29, 28, 28);
}


.avatar-flex1{
    display: flex;
    flex-direction:row;
    flex: wrap;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.avatar {

    width: 65px;
    height: 65px;
    border-radius: 50%;

    
    /* leila */
}

/* .avatar:hover {
    cursor: pointer;
    transform: scale(1.4, 1.4)
    
} */

.playernam{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 10px;
        align-items: center;
        align-content: space-between;
    }


 /* Does form styling even reference to anything? - Gabriel */
.form__styling {
    margin-top: 1rem;

}

.form__styling button {
    background-color: darkslategray;
    color: white;
    border-radius: 20px;
    padding: 0.2rem 2rem 0.2rem 2rem;
    border: none;

}

.form__styling button:hover {
    cursor: pointer;
    background-color: white;
    color: darkslategray
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;

}


/* leila */
.select {
    margin: 0 30%;
    width: 40%;
    display: flex;
    justify-content: center;
    border: none;

}

.select button:hover {
    border: none;
    background-color: rgb(123, 133, 133);
    color: whitesmoke;
    transform: scale(1.3, 1.3);
    cursor: pointer;
    
}

/* leila */